<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section>
  <form>
    <p class="title">TODO List</p>
    <p class="text">A place to store the things you have to do!</p>
    <input type="text" placeholder="Filter your to-dos">
    <ol>
      <li *ngFor="let todo of toDo" [ngClass]="{
        'completed': todo.completed === true, 
        'incomplete': todo.completed === false
      }">
        <button *ngIf="!todo.completed">Complete</button>{{ todo.task }}
        <i class="material-icons">
          clear
        </i>
      </li>
    </ol>
    <input type="text" placeholder="Add your to do">
    <button class="add_btn">Add</button>
  </form>
</section>